@font-face {
  font-family: "Kaushan Script";
  src: url("../fonts/kaushanscript-regular-webfont.woff2") format("woff2"),
    url("../fonts/kaushanscript-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Reey";
  src: url("../fonts/reey-regular-webfont.woff2") format("woff2"),
    url("../fonts/reey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yellowtail";
  src: url("../fonts/yellowtail-regular-webfont.woff2") format("woff2"),
    url("../fonts/yellowtail-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
